body {
    margin-top: 20px;
}

.sidebar-nav {
    width: 70%; /* Займає всю ширину контейнера */
    background-color: #f8f9fa; /* Світлий фон для сайдбару */
    border-collapse: collapse; /* Забирає проміжки між комірками */
}

.sidebar-nav td {
    padding: 10px;
    border-bottom: 1px solid #dee2e6; /* Розділяє елементи лінією */
}

.sidebar-nav a {
    text-decoration: none;
    color: #007bff; /* Колір посилань */
    font-weight: bold;
}

.sidebar-nav a:hover {
    color: #0056b3; /* Зміна кольору на наведення */
}
